@import "vars";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
  &.body-fixed {
    overflow: hidden;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $green;
  border-radius: 2px;
}

.wrapper {
  width: 1080px;
  max-width: 96%;
  margin: 40px auto;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  .content {

    .cardsWrapper {

    }
    .search-block {
      border: 1px solid #F3F3F3;
      border-radius: 10px;
      position: relative;

      .clear {
        position: absolute;
        right: 5px;
        top: 2px;
        border: 0;
        width: 20px;
        height: 20px;
        opacity: .6;
      }
      input {
        border: none;
      }
    }
  }
}

.button {
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  padding: 8px;
  img {
    width: 100%;
    height: 100%;
  }

  &.button-like {
    position: absolute;
    top: 30px;
    left: 30px;
    svg {
      opacity: .2;
      transition: all .2s ease-in-out;
    }
    &:hover {
      svg {
        opacity: .5;
      }
    }
  }
}

.btn {
  &.greenBtn {
    width: 100%;
    background: $green;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:disabled {
      background: #bebebe;
      animation: button-loading .6s ease-in-out infinite;
      cursor: default;
      &:hover {
        background: #bebebe;
      }
    }
    &:hover {
      background: darken($green, 10%);
    }
    &:active {
      background: lighten($green, 10%);
    }
  }
}

.cart-empty {
  height: 100%;
  text-align: center;
  img {
    max-width: 150px;
    margin-bottom: 20px;
  }
  h1, p {
    padding-bottom: 10px;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active, {
  transition: opacity 500ms, transform 500ms;
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}